<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimSig_Keyboard_Interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <SimSig_Keyboard_Interface.Properties.Settings>
            <setting name="saveGameDirectory" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="simulation" serializeAs="String">
                <value>aston</value>
            </setting>
            <setting name="simVersion" serializeAs="String">
                <value>4.0.1</value>
            </setting>
            <setting name="loadverVersion" serializeAs="String">
                <value>4.5.15.0</value>
            </setting>
            <setting name="ipAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="clientPort" serializeAs="String">
                <value>50505</value>
            </setting>
            <setting name="clientName" serializeAs="String">
                <value>NAME</value>
            </setting>
        </SimSig_Keyboard_Interface.Properties.Settings>
    </userSettings>
</configuration>